body{
    background-image: url(../img/bg.png);
    font-family: Lucida Sans ;
}
.div{
    width: 40%;margin: 0 auto;
    background-color: rgba(250, 250, 250, 0.9);
    margin-top: 100px;padding: 10px;border: 
    solid #daa520 1.5px ;
    border-radius: 6px;
}
.center{
    text-align: center;
    letter-spacing: 1.8px;
    color:#daa520;text-transform: uppercase;}
.spacing{
    margin: 15px;
}
label{
    font-weight:
     bold;font-size: 20px;
     letter-spacing: 1.05px;
     color:#daa520 ;
    }
.input{
    font-size: 18px;
    letter-spacing: 1.1px;
    padding: 6px;
    color: #daa520;
    font-weight: normal;}
.file{
    font-size: 14px;
}
